<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div id="app" v-cloak>
		<template v-if="goods.length">
			<table>
				<thead>
					<tr>
						<th>
							<input type="checkbox" v-model="selectAll">
						</th>
						<th>序号</th>
						<th>商品名称</th>
						<th>商品单价</th>
						<th>购买数量</th>
						<th>操作</th>
					</tr>
					<tbody>
						<tr v-for="(item,index) in goods">
							<th>
								<input type="checkbox" v-model="item.checked">
							</th>
							<td>{{index+1}}</td>
							<td>{{item.goodsName}}</td>
							<td>{{item.price}}</td>
							<td>
								<button type="button" @click="reduce(index)" :disabled="item.count===0">-</button>
								{{item.count}}
								<button type="button" @click="add(index)" :disabled="!item.checked">+</button>
							</td>
							<td>
								<button @click="remove(index)">移除</button>
							</td>
						</tr>
					</tbody>
				</thead>
			</table>
			<div>总价:{{total}} 个数:{{checkedCount}}</div>
		</template>
		<div v-else>购物车为空</div>
	</div>
	<script src="./vue.js"></script>
	<script src="./index.js"></script>
</body>

</html>