<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
	<style>
		.v-enter-active,
		.v-leave-active {
			transition: opacity .5s;
		}

		.v-enter,
		.v-leave-to {
			opacity: 0;
		}

		.v-leave,
		.v-enter-to {
			opacity: 1
		}

		.slide-fade-enter-active,
		.slide-fade-leave-active {
			transition: all .5s ease;
		}

		.slide-fade-enter,
		.slide-fade-leave-to {
			transform: translateX(10px);
			opacity: 0;
		}
		.slide-fade-leave,
		.slide-fade-enter-to {
			opacity: 1;
		}
	</style>
</head>

<body>
	<div id="app">
		<button v-on:click="show1 = !show1">
			切换
		</button>
		<transition>
			<p v-if="show1">hello</p>
		</transition>

		<button @click="show2 = !show2">
			Toggle render
		</button>
		<transition name="slide-fade">
			<p v-if="show2">hello</p>
		</transition>
	</div>
	<script>
		var vm = new Vue({
			el: "#app",
			data: {
				show1: true,
				show2: true
			}
		});
	</script>
</body>

</html>